.footer {
  background-color: $color-background-pampas;
}

.footer__container {
  width: 290px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 678px;
    display: grid;
    grid-template-columns: 151px 399px 128px;
    grid-template-rows: auto auto;
    justify-content: start;
    row-gap: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    padding: 60px 0 40px;
    grid-template-columns: 104px 1fr 212px;
  }
}

.footer__navigation {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    gap: 15px;
    margin: 0;
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    gap: 30px;
  }
}

.footer__navigation-link {
  text-decoration: none;
  color: $color-text-tundora;
  outline: none;

  &:hover {
    color: $color-text-active-mariner;
  }

  &:focus-visible {
    color: $color-text-mariner;
  }

  &:active {
    color: $color-text-tropaz;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 0 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-items: start;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1 / 4;
  }
}

.footer__copyright-link {
  color: $color-text-tundora;
  text-decoration: none;
  padding: 0 0 2px;
  border-bottom: 1px solid $color-background-tundora;
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 0 0 1px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
  }

  &:hover {
    color: $color-text-active-mariner;
    border-color: $color-text-active-mariner;
  }

  &:focus-visible {
    color: $color-text-mariner;
    border-color: $color-text-mariner;
  }

  &:active {
    color: $color-text-tropaz;
    border-color: $color-text-tropaz;
  }
}

.footer__copyright-text {
  color: $color-text-tundora-opacity;

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.footer__social-link {
  display: block;
  width: 26px;
  height: 26px;
  background-color: $color-background-mariner;
  border-radius: 50%;
  position: relative;
  outline: none;

  &:active {
    background-color: $color-background-tropaz;
  }

  &:focus-visible {
    background-color: $color-background-white;
  }

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--vk::after {
    background-image: url("/__spritemap#sprite-vk-view");
    background-repeat: no-repeat;
    width: 12px;
    height: 7px;

    @media (min-width: $tablet-width) {
      width: 16px;
      height: 9px;
    }
  }

  &--ok::after {
    background-image: url("/__spritemap#sprite-ok-view");
    background-repeat: no-repeat;
    width: 7px;
    height: 12px;

    @media (min-width: $tablet-width) {
      width: 10px;
      height: 16px;
    }
  }

  &--reddit::after {
    background-image: url("/__spritemap#sprite-reddit-view");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;

    @media (min-width: $tablet-width) {
      width: 15px;
      height: 15px;
    }
  }
}

.footer__social-link:hover::after {
  opacity: 0.7;
}

.footer__social-link:focus-visible::after {
  filter:
    brightness(0)
    saturate(100%)
    invert(28%)
    sepia(64%)
    saturate(1204%)
    hue-rotate(183deg)
    brightness(91%)
    contrast(91%);
  opacity: 1;
}

.footer__social-link:active::after {
  opacity: 1;
}
