.news {
  background-color: $color-background-pampas;
}

.news__container {
  width: 290px;
  margin: 0 auto;
  padding: 50px 0;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    padding: 60px 0;
  }
}

.news__title {
  color: $color-text-mariner;
  text-align: center;
  margin: 0 0 24px;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;
  }
}

.news__list-navigation,
.news__list-content,
.news__list-pagination {
  list-style: none;
}

.news__list-navigation {
  padding: 0;
  display: flex;
  gap: 9px;
  margin: 0 0 24px;

  @media (min-width: $tablet-width) {
    width: 674px;
    gap: 7px;
    margin: 0 auto 30px;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    gap: 30px;
    margin: 0 auto 40px;
  }
}

.news__button {
  text-transform: uppercase;
  padding: 10px 14px;
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: transparent;
  color: $color-text-button-n;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 14px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 33px;
  }

  &--active {
    border-color: $color-background-mariner;
    color: $color-text-mariner;
  }

  &:hover {
    border-color: transparent;
    color: $color-text-mariner;
  }

  &:focus-visible {
    border-color: $color-background-white;
    background-color: $color-background-white;
    color: $color-text-mariner;
  }
}

.news__button:not(.news__button--active) {
  @media (min-width: $desktop-width) {
    padding: 14px 0;
    width: 120px;
  }
}

.news__list-content {
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    width: 1240px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.news__item-slide {
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 12px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-corner-view");
    position: absolute;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
  }

  &--block1 {
    height: 330px;
    background-image:
      image-set(
        url("../../img/news/news_mobile1@1x.webp") 1x,
        url("../../img/news/news_mobile1@2x.webp") 2x,
        url("../../img/news/news_mobile1@1x.jpg") 1x,
        url("../../img/news/news_mobile1@1x.jpg") 2x
      );

    @media (min-width: $tablet-width) {
      height: 350px;
      background-image:
        image-set(
          url("../../img/news/news_tablet1@1x.webp") 1x,
          url("../../img/news/news_tablet1@2x.webp") 2x,
          url("../../img/news/news_tablet1@1x.jpg") 1x,
          url("../../img/news/news_tablet1@1x.jpg") 2x
        );
    }

    @media (min-width: $desktop-width) {
      height: 400px;
      width: 604px;
      background-image:
        image-set(
          url("../../img/news/news_desktop1@1x.webp") 1x,
          url("../../img/news/news_desktop1@2x.webp") 2x,
          url("../../img/news/news_desktop1@1x.jpg") 1x,
          url("../../img/news/news_desktop1@1x.jpg") 2x
        );
    }
  }

  &--block1 .news__item-content-title br:nth-child(1) {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--block1 .news__item-content-title br:nth-child(2) {
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--block1 p br:nth-child(1) {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--block1 p br:nth-child(2) {
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--block1 p br:nth-child(3) {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }


  &--block2 {
    height: 240px;
    background-image:
      image-set(
        url("../../img/news/news_mobile2@1x.webp") 1x,
        url("../../img/news/news_mobile2@2x.webp") 2x,
        url("../../img/news/news_mobile2@1x.jpg") 1x,
        url("../../img/news/news_mobile2@1x.jpg") 2x
      );

    @media (min-width: $tablet-width) {
      height: 350px;
      background-image:
        image-set(
          url("../../img/news/news_tablet2@1x.webp") 1x,
          url("../../img/news/news_tablet2@2x.webp") 2x,
          url("../../img/news/news_tablet2@1x.jpg") 1x,
          url("../../img/news/news_tablet2@1x.jpg") 2x
        );
    }

    @media (min-width: $desktop-width) {
      height: 400px;
      background-image:
        image-set(
          url("../../img/news/news_desktop2@1x.webp") 1x,
          url("../../img/news/news_desktop2@2x.webp") 2x,
          url("../../img/news/news_desktop2@1x.jpg") 1x,
          url("../../img/news/news_desktop2@1x.jpg") 2x
        );
    }
  }

  &--block3 {
    height: 330px;
    background-image:
      image-set(
        url("../../img/news/news_mobile3@1x.webp") 1x,
        url("../../img/news/news_mobile3@2x.webp") 2x,
        url("../../img/news/news_mobile3@1x.jpg") 1x,
        url("../../img/news/news_mobile3@1x.jpg") 2x
      );

    @media (min-width: $tablet-width) {
      height: 350px;
      background-image:
        image-set(
          url("../../img/news/news_tablet3@1x.webp") 1x,
          url("../../img/news/news_tablet3@2x.webp") 2x,
          url("../../img/news/news_tablet3@1x.jpg") 1x,
          url("../../img/news/news_tablet3@1x.jpg") 2x
        );
    }

    @media (min-width: $desktop-width) {
      height: 400px;
      background-image:
        image-set(
          url("../../img/news/news_desktop3@1x.webp") 1x,
          url("../../img/news/news_desktop3@2x.webp") 2x,
          url("../../img/news/news_desktop3@1x.jpg") 1x,
          url("../../img/news/news_desktop3@1x.jpg") 2x
        );
    }
  }

  &--block4 {
    height: 240px;
    background-image:
      image-set(
        url("../../img/news/news_mobile4@1x.webp") 1x,
        url("../../img/news/news_mobile4@2x.webp") 2x,
        url("../../img/news/news_mobile4@1x.jpg") 1x,
        url("../../img/news/news_mobile4@1x.jpg") 2x
      );

    @media (min-width: $tablet-width) {
      height: 350px;
      background-image:
        image-set(
          url("../../img/news/news_tablet4@1x.webp") 1x,
          url("../../img/news/news_tablet4@2x.webp") 2x,
          url("../../img/news/news_tablet4@1x.jpg") 1x,
          url("../../img/news/news_tablet4@1x.jpg") 2x
        );
    }

    @media (min-width: $desktop-width) {
      height: 400px;
      background-image:
        image-set(
          url("../../img/news/news_desktop4@1x.webp") 1x,
          url("../../img/news/news_desktop4@2x.webp") 2x,
          url("../../img/news/news_desktop4@1x.jpg") 1x,
          url("../../img/news/news_desktop4@1x.jpg") 2x
        );
    }
  }

  &--block1::before {
    top: 170px;

    @media (min-width: $tablet-width) {
      top: 85px;
    }

    @media (min-width: $desktop-width) {
      top: 216px;
    }
  }

  &--block2::before {
    top: 110px;

    @media (min-width: $tablet-width) {
      top: 173px;
    }

    @media (min-width: $desktop-width) {
      top: 226px;
    }
  }

  &--block3::before {
    top: 185px;

    @media (min-width: $desktop-width) {
      top: 199px;
    }
  }

  &--block4::before {
    top: 97px;
  }
}

.news__time {
  color: $color-text-mariner;
  background-color: $color-background-pampas;
  padding: 13px 12px 6px 0;
  width: 150px;
}

.news__item-slide--block1 .news__time {
  --nb-r: 12px;
  --nb-w: 59px;
  --nb-h: 6px;

  padding: 13px 12px 6px 0;

  @media (min-width: $desktop-width) {
    padding: 13px 12px 5px 0;
  }
}

.news__item-slide--block2 .news__time {
  --nb-r: 12px;
  --nb-w: 59px;
  --nb-h: 6px;

  padding: 13px 12px 5px 0;
}

.news__item-slide--block3 .news__time {
  --nb-r: 12px;
  --nb-w: 59px;
  --nb-h: 6px;

  @media (min-width: $tablet-width) {
    --nb-r: 12px;
    --nb-w: 63px;
    --nb-h: 7px;
  }

  padding: 13px 12px 6px 0;
}


.news__item-slide--block4 .news__time {
  --nb-r: 12px;
  --nb-w: 59px;
  --nb-h: 6px;

  padding: 13px 12px 5px 0;
}

.news__item-content-title {
  color: $color-text-mariner;
  background-color: $color-background-pampas;
  margin: 0;

  --nb-r: 15px;
  --nb-w: 60px;
  --nb-h: 20px;
}

.news__item-slide--block1 .news__item-content-title {
  --nb-r: 15px;
  --nb-w: 60px;
  --nb-h: 20px;

  padding: 9px 18px 5px 0;

  @media (min-width: $tablet-width) {
    width: 128px;
    padding: 10px 79px 2px 0;
    border-top-right-radius: 12px;

    --nb-r: -7px;
  }

  @media (min-width: $desktop-width) {
    width: 408px;
    padding: 18px 79px 3px 0;

    --nb-r: 15px;
    --nb-w: 30px;
    --nb-h: 46px;
  }
}

.news__item-slide--block2 .news__item-content-title {
  --nb-r: 14px;
  --nb-w: 62px;
  --nb-h: 5px;

  padding: 10px 18px 5px 0;

  @media (min-width: $tablet-width) {
    width: 167px;
    padding: 11px 40px 1px 0;
    border-top-right-radius: 12px;

    --nb-r: -7px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 40px 0 0;

    --nb-r: 12px;
    --nb-w: -7px;
    --nb-h: 39px;
  }
}

.news__item-slide--block3 .news__item-content-title {
  --nb-r: 15px;
  --nb-w: 60px;
  --nb-h: 20px;

  padding: 9px 18px 5px 0;

  @media (min-width: $tablet-width) {
    width: 169px;
    padding: 11px 38px 1px 0;
    border-top-right-radius: 12px;

    --nb-r: -7px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 38px 0 0;

    --nb-r: 12px;
    --nb-w: -7px;
    --nb-h: 64px;
  }
}

.news__item-slide--block4 .news__item-content-title {
  --nb-r: 14px;
  --nb-w: 62px;
  --nb-h: 5px;

  padding: 10px 18px 5px 0;

  @media (min-width: $tablet-width) {
    width: 169px;
    padding: 11px 38px 1px 0;
    border-top-right-radius: 12px;

    --nb-r: -7px;
  }
}

.news__description {
  background-color: $color-background-pampas;
  display: flex;
  gap: 10px;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 16px;
  }

  p {
    width: 213px;
    color: $color-text-tundora;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 12px 0 9px;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 20px;
      width: 176px;
    }

    @media (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.news__item-slide--block1 .news__description {
  --nb-r: 12px;
  --nb-w: 3px;
  --nb-h: 38px;


  @media (min-width: $tablet-width) {
    --nb-r: 13px;
    --nb-w: 58px;
    --nb-h: 84px;
  }

  @media (min-width: $desktop-width) {
    --nb-r: 14px;
    --nb-w: 108px;
    --nb-h: 37px;
  }

  p {
    padding: 12px 0 9px;

    @media (min-width: $tablet-width) {
      padding: 15px 0;
    }

    @media (min-width: $desktop-width) {
      width: 404px;
    }
  }
}

.news__item-slide--block2 .news__description {
  --nb-r: 13px;
  --nb-w: 1px;
  --nb-h: 24px;

  @media (min-width: $tablet-width) {
    --nb-r: 13px;
    --nb-w: 58px;
    --nb-h: 45px;
  }

  @media (min-width: $desktop-width) {
    --nb-r: 13px;
    --nb-w: 20px;
    --nb-h: 40px;
  }

  p {
    padding: 13px 0 10px;

    @media (min-width: $tablet-width) {
      padding: 16px 0 15px;
    }
  }
}

.news__item-slide--block3 .news__description {
  --nb-r: 12px;
  --nb-w: 3px;
  --nb-h: 25px;

  @media (min-width: $tablet-width) {
    --nb-r: 13px;
    --nb-w: 58px;
    --nb-h: 45px;
  }

  @media (min-width: $desktop-width) {
    --nb-r: 13px;
    --nb-w: 16px;
    --nb-h: 40px;

    gap: 20px;
  }

  p {
    padding: 12px 0 9px;

    @media (min-width: $tablet-width) {
      padding: 16px 0 15px;
    }
  }
}

.news__item-slide--block4 .news__description {
  --nb-r: 13px;
  --nb-w: 1px;
  --nb-h: 39px;

  @media (min-width: $tablet-width) {
    --nb-r: 13px;
    --nb-w: 58px;
    --nb-h: 65px;
  }

  p {
    padding: 13px 0 10px;

    @media (min-width: $tablet-width) {
      padding: 16px 0 15px;
    }
  }
}

.news__pagination-block {
  position: relative;
}

.news__list-pagination {
  padding: 0;
  display: flex;
  gap: 16px;
  margin: 24px 0 0;
  justify-content: center;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin: 30px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 40px 0 0;
  }
}

.news__button-pagination {
  width: 26px;
  height: 26px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 20px;
  color: $color-text-button-n;

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 32px;
  }

  &--active {
    background-color: $color-background-mariner;
    color: $color-text-white;
    border-color: $color-background-mariner;
  }
}

.news__button-block {
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.news .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $desktop-width) {
    grid-template-columns: 604px 286px 286px;
    gap: 32px;
  }
}

.news .swiper-slide {
  margin: 0;
}

.item-content--block2 {
  grid-column: 1/2;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.item-content--block3 {
  grid-column: 2/3;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.item-content--block4 {
  @media (min-width: $desktop-width) {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}
