.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-body {
  font-family: $basic-font;
  font-style: normal;
}

.body-wrapper-menu {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-body-wrapper-menu;
    z-index: 1;
  }
}

.button {
  border: 1px solid $color-border-button;
  background-color: transparent;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 4px 4px 4px 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  color: $color-text-mariner;
  text-transform: uppercase;
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 4px 4px 4px 30px;
  }

  &::after {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    margin-left: 20px;
    background-color: $color-background-mariner;
    border-radius: 44px;
    background-image: url("/__spritemap#sprite-arrow-view");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;

    @media (min-width: $tablet-width) {
      width: 46px;
      height: 46px;
      margin-left: 31px;
    }
  }

  &:hover {
    background-color: $color-background-mariner;
    color: $color-text-white;
  }

  &:active {
    background-color: $color-background-mariner;
    color: $color-text-hover-white;
  }

  &:disabled {
    background-color: $color-background-white;
    color: $color-disabled;
    border-color: $color-disabled;
  }

  &:hover::after {
    background-color: $color-background-white;
    background-image: url("/__spritemap#sprite-arrow_hover-view");
    background-size: 10px;
  }

  &:active::after {
    background-color: $color-background-white;
    background-image: url("/__spritemap#sprite-arrow_active-view");
    background-size: 10px;
  }

  &:focus-visible::after {
    background-color: $color-background-mariner;
    background-image: url("/__spritemap#sprite-arrow_focus-view");
    background-size: 10px;
  }

  &:disabled::after {
    background-color: $color-disabled;
    background-image: url("/__spritemap#sprite-arrow_disabled-view");
    background-size: 8px;
  }
}

.button-secondary {
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background-color: $color-background-mariner;
  border-radius: 44px;
  background-image: url("/__spritemap#sprite-arrow-view");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
  cursor: pointer;

  &:hover {
    background-color: $color-background-white;
    background-image: url("/__spritemap#sprite-arrow_hover-view");
    background-size: 10px;
  }

  &:active{
    background-color: $color-background-white;
    background-image: url("/__spritemap#sprite-arrow_active-view");
    background-size: 10px;
  }

  &:focus-visible {
    background-color: $color-background-mariner;
    background-image: url("/__spritemap#sprite-arrow_focus-view");
    background-size: 10px;
  }

  &:disabled {
    background-color: $color-disabled;
    background-image: url("/__spritemap#sprite-arrow_disabled-view");
    background-size: 8px;
  }
}

.button-small-block {
    .button-small {
    width: 22px;
    height: 22px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url("/__spritemap#sprite-button_small_next-view");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;

    &:hover {
      background-image: url("/__spritemap#sprite-button_small_hover-view");
    }

    &:focus-visible {
      background-image: url("/__spritemap#sprite-button_small_next-view");
      background-color: $color-background-white;
    }

    &:active {
      background-image: url("/__spritemap#sprite-button_small_hover-view");
      background-color: $color-background-white;
    }

    &:disabled {
      background-image: url("/__spritemap#sprite-button_small_disabled-view");
    }
  }

  .button-p {
    rotate: 180deg;
  }
}

.button-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
}

.button-text-h {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }
}

.text-wr {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.heading-h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 17px;
  }
}

.heading-h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 44px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 62px;
  }
}

.heading-h3-a {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}
