.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-body {
  font-family: $basic-font;
  font-style: normal;
}

.button-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
}

.button-text-h {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
}

.text-wr {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2%;
}

.heading-h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
