// Fonts
$basic-font: "Manrope", "Arial", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;

// Color
$color-text-mariner: #316dc2;
$color-text-white: #ffffff;
$color-text-tundora: #484848;
$color-text-wr: rgba(255, 255, 255, 0.7);
$color-text-wr-active: rgba(255, 255, 255, 1);
$color-border-button: #316dc2;
$color-background-mariner: #316dc2;
$color-background-white: #ffffff;
$color-background-tropaz: #275699;
$color-background-mask: rgba(49, 109, 194, 0.2);
$color-body-wrapper-menu: rgba(13, 29, 51, 0.4);
